.add-new-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

input, textarea{
    margin-top: 10px;
    padding: 5px 10px;
    font: 14px 'Open Sans';
    outline: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
    border-color: #bbbbbb;
}

input:focus,
textarea:focus{
    box-shadow: 0 0 2px 1px #276cc0;
    border-color: #276cc0
}

.add-new-form{
    text-align: left;
}

.input-wrapper{
    margin-left: 15px;
    margin-top: 20px;
}
.input-wrapper:first-child,
.input-wrapper:last-child{
    margin-left: 0;
}

.add-new-form + .button-wrapper{
    margin-top: 15px;
}

