.main{
  width: 900px;
  height: 700px;
  margin: 40px auto;
  position: relative;
  border-radius: 10px;
}
.head-wrapper{
  padding: 20px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f7f7f7;
}

.button-wrapper{
  text-align: left;
}

.pagination{
  margin-top: 20px;
  font: 15px 'Open Sans';
}

.pagination li{
  display: inline-block;
  list-style: none;
  padding: 5px;
}

.pagination li.active a{
  color: #24b989;
}

.pagination li a{
  text-decoration: none;
  color: #757575;
}

.pagination li.disabled a{
  color: #eeeeee;
}