.button-block{
    width: 90%;
    margin: 30px auto;
}

button{
    width: auto;
    padding: 5px 10px;
    color: white;
    background-color: darkblue;
    border-radius: 5px;
    border: 1px solid #00002a;
    cursor: pointer;
}

button:hover{
    background-color: #0000b1;
}
