.list-wrapper{
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15px;
    background: #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #dddddd;
}

.list-wrapper.empty{
    height: auto;
}

.empty-block{
    font-family: 'Open Sans';
    padding: 30px 100px;
}