button{
    height: 35px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    font: bold 12px/15px "Open Sans";
    color: #fff;
    background: #00A777;
    transition: opacity 0.1s ease-in-out;
    text-transform: uppercase;
    border: none;
}
button:hover{
    opacity: 1;
}

button:focus{
    outline: none;
}

button:nth-child(n+2){
    margin-left: 15px;
}

button.text{
    background-color: transparent;
    color: #333;
    opacity: .4;
    box-shadow: none;
    border-color: transparent;
}

button.text:hover{
    opacity: .9;
}

button.edit{
    background: transparent url(../../images/edit-icon.svg) no-repeat center center;
    width: 20px;
    height: 20px;
    border: none;
    background-size: 100% 100%;
}

button.delete{
    background: transparent url(../../images/delete-icon.svg) no-repeat center center;
    width: 20px;
    height: 20px;
    border: none;
    background-size: 100% 100%;
}

button.save{
    background: transparent url(../../images/save-icon.svg) no-repeat center center;
    width: 20px;
    height: 20px;
    border: none;
    background-size: 100% 100%;
}

button.cancel{
    background: transparent url(../../images/cancel-icon.svg) no-repeat center center;
    width: 20px;
    height: 20px;
    border: none;
    background-size: 16px 16px;
}

button.disabled{
    cursor: default;
    opacity: .6;
}

button.right-btn{
    float: right;
}