button{
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;

}
button:hover{
    opacity: 1;
}

button:nth-child(n+2){
    margin-left: 15px;
}

button.edit{
    background: transparent url(../images/edit-icon.svg) no-repeat center center;
    width: 20px;
    height: 20px;
    border: none;
    background-size: 100% 100%;
}

button.delete{
    background: transparent url(../images/delete-icon.svg) no-repeat center center;
    width: 20px;
    height: 20px;
    border: none;
    background-size: 100% 100%;
}