.users-list-wrapper{
    width: 100%;
    margin: 0;
}

.users-list-head{
    font: 600 20px 'Calibri';
    box-shadow: inset 0 -8px 8px -7px #c9c9c9;
}

.list-data,
.user-data{
    display: inline-block;
    width: 13%;
    padding: 5px 7px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-data.id,
.list-data.id{
    width: 14%;
}

.user-row{
    font: 14px 'Open Sans';
    color: #000;
    cursor: pointer;
}
.user-row:hover{
    background: rgba(235, 235, 235, 0.82);
}

.user-data input{
    width: 100%;
    margin-top: 0;
    padding: 0;
    position: relative;
    top: 1px;
}