.add-new-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

input, textarea{
    margin-top: 10px;
    padding: 5px 10px;
    font: 14px 'Open Sans';
    outline: transparent;
    border: none;
}

input{
    border-bottom: 1px solid #bbb;
    background: transparent;
    z-index: 10;
}

textarea{
    width: 400px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
    box-shadow: 0 0 0 1px #bbbbbb;
    background: transparent;
}

input:focus{
    border-bottom-color: #858585;
}

textarea:focus{
    box-shadow: 0 0 2px 1px #9a9a9a;
    border-color: #9a9a9a
}


input:focus + .placeholder{
    bottom: 30px;
    font-size: 11px;
}

.add-new-form{
    text-align: left;
}

.input-wrapper{
    margin-left: 15px;
    margin-top: 20px;
    position: relative;
}

.placeholder{
    position: absolute;
    color: #bbb;
    transition: all .3s linear;
    bottom: 3px;
}

.input-wrapper.not-empty .placeholder{
    bottom: 30px;
    font-size: 11px;
}


.input-wrapper:first-child,
.input-wrapper:last-child{
    margin-left: 0;
}

.add-new-form + .button-wrapper{
    margin-top: 15px;
}

