.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(123, 123, 123, 0.2);
    z-index: 1000;
   display: flex;
    justify-content: center;
    align-items: center;
        
}

.modal-wrapper{
    width: 400px;
    padding: 30px 40px;
    font: 15px 'Open Sans';
    background-color: #fff;
    color: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.modal-content{
    margin-bottom: 40px;
}

.modal-container button{
    margin: 0;
}